@tailwind base;
@tailwind components;
@tailwind utilities;

/* ABC Marist Serif Font */
@font-face {
  font-family: "ABC Marist";
  src: url("/fonts/ABCMarist-Book-Trial.woff2") format("woff2"),
       url("/fonts/ABCMarist-Book-Trial.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-marist: "ABC Marist", Georgia, "Times New Roman", serif;
}

body {
  font-family: var(--font-marist);
  letter-spacing: -0.16px;
}
